<.dashboard_layout
  page_title={assigns[:page_title] || "Author"}
  current_user={@current_user}
  dashboard_type={:author}
>
  <.flash_group flash={@flash} />
  {@inner_content}
</.dashboard_layout>
